@page
@model ChangePasswordModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Password"];
    ViewData["SecondTitle"] = Localizer["Change account password"];
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    ViewData["UserName"] = Model.UserName;
}

@section Breadcrumb {
    <li><a href="/Identity/Account/Manage/">@Localizer["Account"]</a></li>
    <li>@ViewBag.Title</li>
}
<partial name="_StatusMessage" for="StatusMessage" />
<div style="padding-bottom: 24px; padding-top: 8px;">
    <form id="change-password-form" method="post">
        <input asp-for="UserName" type="hidden" />
        <div asp-validation-summary="All" class="mtd-main-danger"></div>
        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon" style="width: 100%; margin-top: 16px;">
            <i class="material-icons mdc-text-field__icon">lock</i>
            <input id="login-old" asp-for="Input.OldPassword" type="password" class="mdc-text-field__input" />
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="login-old" class="mdc-floating-label">@Localizer["Old password"]</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>

        <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 16px;">
            <input id="login-new" asp-for="Input.NewPassword" type="password" class="mdc-text-field__input" />
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="login-new" class="mdc-floating-label">@Localizer["New password"]</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>

        <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 16px;">
            <input id="login-confirm" asp-for="Input.ConfirmPassword" type="password" class="mdc-text-field__input" />
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="login-confirm" class="mdc-floating-label">@Localizer["Confirm password"]</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>

        <div style="padding-top: 16px; float: right">
            <button id="update-profile-button" type="submit" class="mdc-button mdc-button--raised">@Localizer["Save"]</button>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        (() => {
            const snackDiv = document.getElementById('snack-profile');
            if (snackDiv) {
                const snackbar = new mdc.snackbar.MDCSnackbar(snackDiv);
                snackbar.open();
            }
        })();
    </script>
}

