@page
@model IndexModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Account"];
    ViewData["SecondTitle"] = Localizer["Change profile data"];
    ViewData["ActivePage"] = ManageNavPages.Index;
    ViewData["UserName"] = Model.UserName;

    ViewData["IsConfirm"] = Model.IsEmailConfirmed ? "green" : "red";
}

<partial name="_StatusMessage" for="StatusMessage" />

<div style="padding-bottom: 24px; padding-top: 8px;">

    <div asp-validation-summary="All" class="mtd-main-danger"></div>
    <form id="profile-form" method="post" autocomplete="off">
        <input asp-for="UserName" type="hidden" />
        <input asp-for="IsEmailConfirmed" type="hidden" />

        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon" style="width: 100%; margin-top: 16px;">
            <i class="material-icons mdc-text-field__icon">face</i>
            <input id="login-email" asp-for="Input.UserTitle" type="text" class="mdc-text-field__input" />
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="login-email" class="mdc-floating-label">@Localizer["Title name"]</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>

        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon" style="width: 100%; margin-top: 16px;">
            <i class="material-icons mdc-text-field__icon">email</i>
            <i class="material-icons mdc-text-field__icon" style="color: @ViewBag.IsConfirm">verified_user</i>
            <input id="login-email" asp-for="Input.Email" type="text" class="mdc-text-field__input" />
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="login-email" class="mdc-floating-label">Email</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
        @if (!Model.IsEmailConfirmed)
        {
            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="mdc-button">@Localizer["Confirm Email"]</button>
        }
        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon" style="width: 100%; margin-top: 16px;">
            <i class="material-icons mdc-text-field__icon">phone</i>
            <input id="login-phone" asp-for="Input.PhoneNumber" type="text" class="mdc-text-field__input" />
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="login-phone" class="mdc-floating-label">@Localizer["Phone"]</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
        <div style="padding-top: 16px; float: right">
            <button id="update-profile-button" type="submit" class="mdc-button mdc-button--raised">@Localizer["Save"]</button>
        </div>
    </form>


</div>

@section Scripts{
    <script>
        (() => {
            const snackDiv = document.getElementById('snack-profile');
            if (snackDiv) {
                const snackbar = new mdc.snackbar.MDCSnackbar(snackDiv);
                snackbar.open();
            }
        })();
    </script>
}
