@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@

@model Models.Index.SelectorModelView

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="indexFormSelector" style="display: none; position:absolute; z-index: 1; width: 100%;  max-width: 600px">
    <div style="padding: 8px; background-color: white;">
        <div class="mdc-elevation--z16" style="z-index: 1; background-color: white">
            <div style="text-transform:uppercase; background-color: navy; color: white; margin-bottom:16px;" class="mdc-elevation--z2">
                <div class="mdc-tab-bar" role="tablist">
                    <div class="mdc-tab-scroller">
                        <div class="mdc-tab-scroller__scroll-area">
                            <div class="mdc-tab-scroller__scroll-content">
                                <button id="tab-filter-fields" class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                    <span class="mdc-tab__content">
                                        <span class="mdc-tab__icon material-icons" aria-hidden="true"  style="color: white">view_list</span>
                                        <span class="mdc-tab__text-label"  style="color: white">@Localizer["Fields"]</span>
                                    </span>
                                    <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                    </span>
                                    <span class="mdc-tab__ripple"></span>
                                </button>
                                <button id="tab-filter-custom" class="mdc-tab" role="tab" aria-selected="false" tabindex="1">
                                    <span class="mdc-tab__content">
                                        <span class="mdc-tab__icon material-icons" aria-hidden="true" style="color: white">filter_list</span>
                                        <span class="mdc-tab__text-label" style="color: white">@Localizer["Сustom"]</span>
                                    </span>
                                    <span class="mdc-tab-indicator">
                                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                    </span>
                                    <span class="mdc-tab__ripple"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            

            <form id="indexFormFilter" method="post" action="/api/index/filter/add" enctype="multipart/form-data" autocomplete='off'>
                @Html.AntiForgeryToken()
                <input asp-for="@Model.IdForm" name="indexInputForm" value="@Model.IdForm" hidden />
                <div style="display: flex; flex-direction: column;padding: 12px 4px 4px 4px; background-color: white; height: 170px">
                    <input id="indexInputField" type="hidden" name="indexInputField" value="period">
                    <div id="indexSelectField" class="mdc-select">
                        <i class="mdc-select__dropdown-icon"></i>
                        <select class="mdc-select__native-control">
                            <option id="period" data-type="period" data-value="period" value="period">@Localizer["Date of creation"]</option>
                            @foreach (var item in Model.MtdFormPartFields)
                            {
                                <option id="@item.Id-lifilter" data-type="@item.MtdSysType" data-value="@item.Id" value="@item.Id-lifilter">@item.Name</option>
                            }
                        </select>
                        <label class="mdc-floating-label">@Localizer["Form field"]</label>
                        <div class="mdc-line-ripple"></div>
                    </div>

                    @foreach (var store in Model.StoreList)
                    {
                        <div mtd-data-list="@store.FieldAim.Id" id="@store.FieldAim.Id-indexlist" style="margin-top: 12px; width:100%; display:none">
                            <div class="mdc-select mdc-select--outlined" style="width: 100%">
                                <input id="@store.FieldAim.Id-inputlist" type="hidden" name="@store.FieldAim.Id-inputlist">

                                <i class="mdc-select__dropdown-icon"></i>
                                <div id="@store.FieldAim.Id-inputtext" class="mdc-select__selected-text"></div>
                                <div class="mdc-select__menu mdc-menu mdc-menu-surface">
                                    <ul class="mdc-list">
                                        @foreach (var field in store.Store)
                                        {
                                            <li class="mdc-list-item mdc-list-item" data-value="@field.IdStore">@field.Result</li>
                                        }
                                    </ul>
                                </div>
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label id="@store.FieldAim.Id-inputlabel" class="mdc-floating-label">@store.FieldOut.Name</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                        </div>

                    }

                    <div id="indexSelectBlock" style="display: none; margin-top: 12px;">
                        <div id="indexSelectTerm" class="mdc-select mdc-select--outlined" style="max-width: 150px">
                            <input id="indexInputTerm" type="hidden" name="indexInputTerm" value="4">
                            <i class="mdc-select__dropdown-icon"></i>
                            <div class="mdc-select__selected-text mdc-menu-surface--anchor"></div>
                            <div class="mdc-select__menu mdc-menu mdc-menu-surface" role="listbox">
                                <ul class="mdc-list">
                                    @foreach (var term in Model.MtdSysTerms)
                                    {
                                        <li class="mdc-list-item" data-value="@term.Id" role="option">@Localizer[@term.Name] (@term.Sign)</li>
                                    }
                                </ul>
                            </div>
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label class="mdc-floating-label mdc-floating-label--float-above">@Localizer["Action"]</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>

                        <div id="indexSelectFilter" class="mdc-text-field mdc-text-field--outlined " style="flex-grow:1; margin-left: 4px;">
                            <input id="indexInputFilter" name="indexInputFilter" type="text" class="mdc-text-field__input">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="indexInputFilter" class="mdc-floating-label">@Localizer["Filter value"]</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>
                    <div id="indexSelectPeriod" >
                        <div class="mdc-text-field" style="max-width:136px; margin-top: 12px;">
                            <input type="text" id="my-text-field" class="mdc-text-field__input mtd-data-datepicker" name="periodStart">
                            <label class="mdc-floating-label mdc-floating-label--float-above" for="my-text-field">@Localizer["Date start"]</label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <div class="mdc-text-field" style="max-width:136px">
                            <input type="text" id="my-text-field" class="mdc-text-field__input mtd-data-datepicker" name="periodFinish">
                            <label class="mdc-floating-label mdc-floating-label--float-above" for="my-text-field">@Localizer["Date finish"]</label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                    </div>

                    <div style="text-align:right;padding-top:8px;">
                        <button mtd-index-cancel class="mdc-button" type="button">@Localizer["Cancel"]</button>
                        <button id="indexButtonApply" type="button" class="mdc-button" mtdfilter="@Model.IdForm">@Localizer["Apply"]</button>
                    </div>
                </div>
            </form>

            <form mtd-data-form id="indexFormCustom" method="post" action="/api/index/filter/script" enctype="multipart/form-data" autocomplete='off' hidden>
                @Html.AntiForgeryToken()
                <div style="display: flex; flex-direction: column;padding: 12px 4px 4px 4px; background-color: white; height: 170px">
                    @if (Model.MtdFilterScripts.Count > 0)
                    {
                        <div class="mdc-select">
                            <i class="mdc-select__dropdown-icon"></i>
                            <select name="script-selector" class="mdc-select__native-control">
                                @foreach (var fs in Model.MtdFilterScripts)
                                {
                                    <option value="@fs.Id">@fs.Name</option>
                                }
                            </select>
                            <label class="mdc-floating-label mdc-floating-label--float-above">@Localizer["Custom filter"]</label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                    }  else
                    {
                        <div style="height: 56px; text-align:center; font-size: large; font-weight: bold">
                            @Localizer["There are no filters to select."]
                        </div>
                        
                    }
                    <div id="custom-note" style="height:56px; margin-top: 12px; overflow: hidden; padding-left: 8px; padding-right: 8px; text-overflow:ellipsis">

                    </div>
                    <div style="text-align:right;padding-top:8px;">
                        <button mtd-index-cancel class="mdc-button" type="button">@Localizer["Cancel"]</button>
                        <button mtd-data-clicker type="button" class="mdc-button">@Localizer["Apply"]</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
