@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@

@model Models.Index.HeaderModelView
@inject Web.Services.UserHandler userHandler;

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var user = await userHandler.GetUserAsync(User);
    bool isCreate = await userHandler.IsCreator(user, Model.IdForm);
}
<div class="mtd-index-header">

    @if (isCreate)
    {
        <div id="indexCreator" class="mtd-index-header-creator">
            <a mtd-data-href="/workplace/store/create?idForm=@Model.IdForm" class="mdc-fab mdc-fab--extended" aria-label="Create">
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">@Localizer["Create"]</span>
            </a>
        </div>
    }

    <div class="mtd-index-header-search">
        <form mtd-data-form method="post" action="/api/index/search/text" enctype="multipart/form-data" style="width: 100%" autocomplete='off'>
            @Html.AntiForgeryToken()
            <input asp-for="@Model.IdForm" name="indexForm" value="@Model.IdForm" hidden />
            <div class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--with-leading-icon">
                <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">search</i>
                <input mtd-data-input asp-for="@Model.SearchText" id="indexSearchText" name="indexSearchText" class="mdc-text-field__input"
                       type="text"
                       placeholder="@Localizer["Search for text"]"
                       aria-label="Search for text"
                       autocomplete="off">
            </div>
        </form>
    </div>
    <div class="mtd-index-header-buttons">
        <div class="mtd-desk-hint-ibutton">
            <button id="indexButtonFilterAdd" class="mdc-icon-button material-icons mdc-theme--secondary">add_box</button>
            <div class="mtd-desk-hint-ibutton_info">
                <span>@Localizer["Add filter"]</span>
            </div>
        </div>
        <div>
            <div class="mtd-desk-hint-ibutton">
                <button id="indexButtonColumnEdit" class="mdc-icon-button material-icons mdc-theme--secondary">view_list</button>
                <div class="mtd-desk-hint-ibutton_info">
                    <span>@Localizer["Column list"]</span>
                </div>
            </div>
            
        </div>
        <div>
            <form mtd-data-form method="post" action="/api/index/waitlist/set" enctype="multipart/form-data" style="width: 100%" autocomplete='off'>
                @Html.AntiForgeryToken()
                <input mtd-data-clicker type="hidden" id="id-form-waitlist" name="id-form-waitlist" value="@Model.IdForm" />
                @if (Model.Pending > 0)
                {
                    <div style="position: absolute; text-align: center; min-width: 1.5em; background-color: red; font-size: 0.7em; color: white; padding: 3px; top: -5px; margin-left: 24px; border-radius: 100%">
                        @Model.Pending
                    </div>
                }

                <div class="mtd-desk-hint-ibutton">
                    <button mtd-data-clicker id="approval-list"
                            class="mdc-icon-button mdc-theme--primary"
                            aria-label="Approval Wait List"
                            aria-hidden="true"
                            aria-pressed="false"
                            type="button">
                        <i class="material-icons mdc-icon-button__icon @if (Model.WaitList) {<text>mdc-icon-button__icon--on</text>}">assignment_turned_in</i>
                        <i class="material-icons mdc-icon-button__icon
                   @if (!Model.WaitList) {<text>mdc-icon-button__icon--on</text>}" style="color:red">assignment_turned_in</i>
                    </button>
                    <div class="mtd-desk-hint-ibutton_info">
                        <span>@Localizer["Wait list"]</span>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

