@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@

@page
@model PartCreateModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["New form part"];
    ViewData["SecondTitle"] = Localizer["Creating a new form section"];
}

@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/config/css/mtd-config-form-part.css" />
}

@section Breadcrumb {
    <li><a href="/config">@Localizer["Configurator"]</a></li>
    <li><a href="/config/form">@Localizer["Forms"]</a></li>
    <li><a href="/config/form/edit?id=@Model.MtdForm.Id">@Localizer["Form editor"]</a></li>
    <li>@ViewBag.Title</li>
}

<div class="mdc-elevation--z2 mtd-config-form-part">
    @if (Model.MtdForm.MtdFormHeader != null)
    {
        var base64 = Convert.ToBase64String(Model.MtdForm.MtdFormHeader.Image);
        var imgSrc = String.Format("data:{0};base64,{1}", Model.MtdForm.MtdFormHeader.ImageType, base64);
        <img src="@imgSrc" style="max-width: 260px;" />
    }
    <div style="text-align: right">
        <span style="font-size: medium; text-transform:uppercase; font-weight: bold;">@Model.MtdForm.Name</span>
    </div>
    <hr />
    <form mtd-data-form method="post" autocomplete="off" enctype="multipart/form-data" action="/api/config/form/part/create">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="MtdForm.Id" name="formId" />
        <input type="hidden" asp-for="MtdFormPart.Id" name="partId" />
        <div id="config-form-name" class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 16px">
            <input type="text" id="tf-outlined" mtd-required="config-form-name" class="mdc-text-field__input" asp-for="MtdFormPart.Name" name="partName" required />
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="tf-outlined" class="mdc-floating-label">@Localizer["Name"]</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
        <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                @Localizer["Required field"]
            </div>
        </div>
        <div id="config-form-description" class="mdc-text-field mdc-text-field--textarea" style="width: 100%; margin-top: 16px;">
            <textarea id="textarea" mtd-required="config-form-description" class="mdc-text-field__input" rows="3" cols="40" asp-for="MtdFormPart.Description" name="partNote" required></textarea>
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="textarea" class="mdc-floating-label">@Localizer["Description"]</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
        <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                @Localizer["Required field"]
            </div>
        </div>
        <div style="text-align: right; margin-top: 16px;">
            <button mtd-data-clicker mtd-data-location="/config/form/partedit?id=@Model.MtdFormPart.Id" mtd-data-message="@Localizer["New form section created"]." class="mdc-button mdc-button--raised" type="button">@Localizer["Create"]</button>
        </div>
    </form>
</div>

