@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@

@model Mtd.OrderMaker.Web.Areas.Identity.Pages.Users.EditModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["IsConfirm"] = Model.Input.IsConfirm ? "green" : "red";
}
<div id="users-profile-form" style="display: block; max-width: 450px; margin:0 auto; left: 50%">
    <div style="padding-bottom: 64px; padding-top: 8px;">

        <div asp-validation-summary="All" class="mtd-main-danger"></div>
        <form mtd-data-form id="profile-form" method="post" action="/api/users/admin/profile" autocomplete="off">
            @Html.AntiForgeryToken()
            <input asp-for="UserName" type="hidden" />

            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon" style="width: 100%; margin-top: 16px;">
                <i class="material-icons mdc-text-field__icon">face</i>
                <input id="login-email" asp-for="Input.Title" type="text" class="mdc-text-field__input" />
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="login-email" class="mdc-floating-label">@Localizer["Title name"]</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon" style="width: 100%; margin-top: 16px;">
                <i class="material-icons mdc-text-field__icon">email</i>
                <i class="material-icons mdc-text-field__icon" style="color: @ViewBag.IsConfirm">verified_user</i>
                <input id="login-email" asp-for="Input.Email" type="text" class="mdc-text-field__input" />
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="login-email" class="mdc-floating-label">Email</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            @if (!Model.Input.IsConfirm)
            {
                <div class="mdc-form-field">
                    <div class="mdc-checkbox">
                        <input type="checkbox" asp-for="Input.IsConfirm"
                               class="mdc-checkbox__native-control"
                               id="checkbox-1" />
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark"
                                 viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path"
                                      fill="none"
                                      d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                    <label for="checkbox-1">@Localizer["Consider email confirmed"].</label>
                </div>
            }
            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon" style="width: 100%; margin-top: 16px;">
                <i class="material-icons mdc-text-field__icon">phone</i>
                <input id="login-phone" asp-for="Input.PhoneNumber" type="text" class="mdc-text-field__input" />
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="login-phone" class="mdc-floating-label">@Localizer["Phone"]</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div id="users-edit-role" class="mdc-select" style="width: 100%; margin-top: 16px;">
                <i class="mdc-select__dropdown-icon"></i>
                <select class="mdc-select__native-control" asp-for="Input.Role" asp-items="ViewBag.Roles"></select>
                <label class="mdc-floating-label mdc-floating-label--float-above">@Localizer["Role"]</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <div style="padding-top: 16px; float: right">
                <button mtd-data-clicker id="update-profile-button" type="button" class="mdc-button mdc-button--raised">@Localizer["Save"]</button>
            </div>
        </form>
    </div>

</div>