@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@

@page
@model Mtd.OrderMaker.Web.Areas.Identity.Pages.Users.EditModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Profile"];
    ViewData["SecondTitle"] = Localizer["Editing profile parameters"];
    ViewData["userId"] = HttpContext.Request.Query["userId"];
}

@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/users/css/mtd-users.css" />
}

@section Breadcrumb {
    <li><a href="/Identity/Users">@Localizer["Users"]</a></li>
    <li>@ViewData["Title"]</li>
}

@section Action  {
    <li class="mdc-list-item" role="menuitem" onclick="document.getElementById('users-confirm-email').click()">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">send</span>
        <span class="mdc-list-item__text">@Localizer["Confirm Email"]</span>
    </li>
    @if (Model.Input.IsConfirm)
    {
        <li class="mdc-list-item mdc-list-item" role="menuitem" onclick="document.getElementById('users-confirm-password').click()">
            <span class="mdc-list-item__graphic material-icons" aria-hidden="true">send</span>
            <span class="mdc-list-item__text">@Localizer["Password recovery"]</span>
        </li>
    }
    else
    {
        <li class="mdc-list-item mdc-list-item--disabled" role="menuitem">
            <span class="mdc-list-item__graphic material-icons" aria-hidden="true">send</span>
            <span class="mdc-list-item__text">@Localizer["Password recovery"]</span>
        </li>
    }

    <li role="separator" class="mdc-list-divider"></li>
    <li id="users-open-dialog" class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">delete</span>
        <span class="mdc-list-item__text">@Localizer["Delete user"]</span>
    </li>
}

<div class="mdc-elevation--z2  mtd-users-edit-place">
    <div class="mtd-users-edit-title">
        <div style="background-color: lightgray;   width: 52px; height: 52px; border-radius: 50%; text-align:center; align-self: center">
            <i class="material-icons" style="font-size: 48px; color: white">person</i>
        </div>
        <div class="mtd-users-edit-names" style="align-self: center">
            <div style="font-size: x-large; font-weight: bold">
                @Model.UserName
            </div>
        </div>
    </div>

    <div>
        @await Html.PartialAsync("_ProfielPartial.cshtml")
    </div>
</div>


<form mtd-data-form method="post" autocomplete="off" enctype="multipart/form-data" action="/api/users/admin/confirm/email">
    @Html.AntiForgeryToken()
    <input name="UserName" value="@Model.UserName" type="hidden" />
    <input id="users-confirm-email" mtd-data-clicker mtd-data-message="@Localizer["Message sent"]." type="hidden" />
</form>

@if (Model.Input.IsConfirm)
{
    <form mtd-data-form method="post" autocomplete="off" enctype="multipart/form-data" action="/api/users/admin/confirm/password">
        @Html.AntiForgeryToken()
        <input name="UserName" value="@Model.UserName" type="hidden" />
        <input id="users-confirm-password" mtd-data-clicker mtd-data-message="@Localizer["Message sent"]." type="hidden" />
    </form>
}


<form mtd-data-form method="post" autocomplete='off' enctype='multipart/form-data' action='/api/users/admin/delete'>
    @Html.AntiForgeryToken()
    <input id="user-delete-id" name="user-delete-id" type="hidden" value="@ViewBag.userId" />
    <input id="deleteClicker" mtd-data-clicker mtd-data-location="/identity/users" type="hidden" />
</form>

<div id="dialog-users-delete" class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="delete-dialog-title">
                @Localizer["Delete user"]?
            </h2>
            <div class="mdc-dialog__content" id="delete-dialog-content">
                @Localizer["The user will be permanently deleted"].
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                    <span class="mdc-button__label">@Localizer["Cancel"]</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
                    <span class="mdc-button__label" onclick="document.getElementById('deleteClicker').click();">@Localizer["Delete"]</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>


@section Scripts {
    <script src="~/lib/mtd-ordermaker/users/js/mtd-users-edit.js" asp-append-version="true"></script>
}