@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@

@page
@model Mtd.OrderMaker.Web.Areas.Identity.Pages.Users.IndexModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Users"];
    ViewData["SecondTitle"] = Localizer["Users management"];
}

@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/users/css/mtd-users.css" />
}

@section Action  {
    <li mtd-data-href="/identity/users/group" class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">groups</span>
        <span class="mdc-list-item__text">@Localizer["Edit groups"]</span>
    </li>
}

<div class="mdc-elevation--z1 mtd-users-place">
    <div id="usersCreator" class="mtd-users-creator">
        <a mtd-data-href="/identity/users/create" class="mdc-fab mdc-fab--extended" aria-label="Create">
            <span class="material-icons mdc-fab__icon">person_add</span>
            <span class="mdc-fab__label">@Localizer["Create"]</span>
        </a>
    </div>
    <div class="mtd-users-search">
        <form id="usersFormText" method="get" enctype="multipart/form-data" style="width: 100%" autocomplete='off'>
            <div class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--with-leading-icon">
                <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">search</i>
                <input id="usersSearchText" name="searchText" value="@Model.SearchText" class="mdc-text-field__input"
                       type="text"
                       placeholder="@Localizer["Search for text"]"
                       aria-label="Search for text"
                       autocomplete="off">
            </div>
        </form>
    </div>

    <div class="mtd-users-rows">
        <table>
            <thead>
                <tr>
                    <th style="width: 18px;">
                        <div style="padding-left: 16px; cursor:not-allowed">
                            <i class="material-icons">check_box_outline_blank</i>
                        </div>
                    </th>
                    <th>
                        @Localizer["Login name"]
                    </th>
                    <th>
                        @Localizer["Title name"]
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        @Localizer["Status"]
                    </th>
                    <th>
                        @Localizer["Role"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.Persons)
                {
                    <tr mtd-data-row="@person.User.Id" mtd-data-class="mtd-users-rows-selected">
                        <td style="max-width: 64px;">
                            <div class="mdc-form-field">
                                <div class="mdc-checkbox" data-mdc-ripple-is-unbounded>
                                    <input type="checkbox" class="mdc-checkbox__native-control" id="@person.User.Id-checkbox" />
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark-path"
                                                  fill="none"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            @person.User.UserName
                        </td>
                        <td>
                            @person.User.Title
                        </td>
                        <td>
                            @person.User.Email
                        </td>
                        <td>
                            @{
                                string color = person.User.EmailConfirmed ? "green" : "red";
                            }
                            <i class="material-icons" style="color: @color">verified_user</i>
                        </td>
                        <td>
                            @{
                                string color2 = person.Role.NormalizedName == "ADMIN" ? "darkred" : "gray";
                            }
                            <div style="display: inline-block; vertical-align: central; padding: 5px 5px 7px 5px; font-size: small; font-weight: 500; background-color: @color2; box-sizing:border-box; border-radius: .25em; color: white">
                                @person.Role.Title
                            </div>
                        </td>
                    </tr>
                    <tr mtd-data-action="@person.User.Id" class="mtd-users-rows-actions" style="display: none">
                        <td colspan="6" class=" mdc-elevation--z1">
                            <a asp-page="./Edit" asp-route-userId="@person.User.Id" class="mdc-icon-button material-icons mdc-theme--secondary" data-mdc-ripple-is-unbounded>edit</a>
                            <a asp-page="./Rights" asp-route-userId="@person.User.Id" class="mdc-icon-button material-icons mdc-theme--secondary" data-mdc-ripple-is-unbounded>security</a>
                            <a mtd-data-row-delete="@person.User.Id" class="mdc-icon-button material-icons mdc-theme--secondary" data-mdc-ripple-is-unbounded>delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<form mtd-data-form method="post" autocomplete='off' enctype='multipart/form-data' action='/api/users/admin/delete'>
    @Html.AntiForgeryToken()
    <input id="user-delete-id" name="user-delete-id" type="hidden" value="Not Selected" />
    <input id="deleteClicker" mtd-data-clicker type="hidden" />
</form>

<div id="dialog-users-delete" class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="delete-dialog-title">
                @Localizer["Delete user"]?
            </h2>
            <div class="mdc-dialog__content" id="delete-dialog-content">
                @Localizer["The user will be permanently deleted"].
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                    <span class="mdc-button__label">@Localizer["Cancel"]</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
                    <span class="mdc-button__label" onclick="document.getElementById('deleteClicker').click();">@Localizer["Delete"]</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>


@section Scripts {
    <script src="~/lib/mtd-ordermaker/users/js/mtd-users.js" asp-append-version="true"></script>
}